In [2]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [27]:
conn = psycopg2.connect(
    host="localhost",
    port= 5432,
    database="Airlines2",
    user="postgres",
    password="1234")
print("Połączenie udane.")
#conn.close()

cursor = conn.cursor()

Połączenie udane.

In [28]:
#driver://username:password@host:port/database
url = "postgresql://postgres:1234@localhost:5432/Airlines2"
engine = create_engine(url)

In [5]:
def load_raw_data(file_name):
    df = pd.read_csv(file_name)
    new_column_names = []
    
    for column in df.columns.tolist():
        new_column_names.append(column.lower()) 
        
    df.columns = new_column_names
    df['id'] = df.index
    #tutaj zwracamy caly dataFrame 
    return df

In [29]:
aircraft_df = load_raw_data('/Users/Ola/Desktop/Projekt koncowy DUZY PLIK/data/raw/aircraft.csv')
aircraft_df.drop(['unnamed: 0'], axis=1, inplace=True)
aircraft_df.head()

   manufacture_year tail_num  number_of_seats  id
0              1944   N54514              0.0   0
1              1945   N1651M              0.0   1
2              1953   N100CE              0.0   2
3              1953   N141FL              0.0   3
4              1953   N151FL              0.0   4

In [30]:
aircraft_df.shape

(7383, 4)

In [31]:
airport_weather_df = load_raw_data('/Users/Ola/Desktop/Projekt koncowy DUZY PLIK/data/raw/airport_weather.csv')
airport_weather_df.drop(['unnamed: 0'], axis=1, inplace=True)
airport_weather_df.head()

,wt18,station,name,date,awnd,prcp,snow,snwd,tavg,tmax,...,wt10,wesd,sn32,sx32,psun,tsun,tobs,wt07,wt11,id
0,NaN,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-01,4.70,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,NaN,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-02,4.92,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-03,5.37,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,NaN,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-04,12.08,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,NaN,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-05,13.42,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [32]:
airport_list_df = load_raw_data('/Users/Ola/Desktop/Projekt koncowy DUZY PLIK/data/raw/airport_list.csv')
airport_list_df.drop(['unnamed: 0'], axis=1, inplace=True)
airport_list_df.head()

,origin_airport_id,display_airport_name,origin_city_name,name,id
0,11638,Fresno Air Terminal,"Fresno, CA","FRESNO YOSEMITE INTERNATIONAL, CA US",0
1,13342,General Mitchell Field,"Milwaukee, WI","MILWAUKEE MITCHELL AIRPORT, WI US",1
2,13244,Memphis International,"Memphis, TN","MEMPHIS INTERNATIONAL AIRPORT, TN US",2
3,15096,Syracuse Hancock International,"Syracuse, NY","SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US",3
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,4

In [33]:
flight_df = load_raw_data('/Users/Ola/Desktop/Projekt koncowy DUZY PLIK/data/raw/flight.csv')
flight_df.drop(['unnamed: 0'], axis=1, inplace=True)
flight_df.head()

,month,day_of_month,day_of_week,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_time,...,actual_elapsed_time,distance,distance_group,year,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,id
0,1,1,2,9E,N931XJ,3290,10874,10397,600,557.0,...,100.0,528,3,2019,NaN,NaN,NaN,NaN,NaN,0
1,1,1,2,OH,N723PS,5495,10874,11057,704,723.0,...,82.0,394,2,2019,NaN,NaN,NaN,NaN,NaN,1
2,1,1,2,OH,N525EA,5416,10874,11057,1944,1942.0,...,96.0,394,2,2019,NaN,NaN,NaN,NaN,NaN,2
3,1,1,2,OH,N706PS,5426,10874,11057,1521,1518.0,...,93.0,394,2,2019,NaN,NaN,NaN,NaN,NaN,3
4,1,1,2,OH,N262PS,5440,10874,14100,756,800.0,...,74.0,335,2,2019,NaN,NaN,NaN,NaN,NaN,4

In [34]:
flight_df.shape #łiiii

(9251880, 28)

In [35]:
def export_table_to_db(df, table_name):
    print(f'Loading data into {table_name}')
    df.to_sql(table_name, con=engine, if_exists='replace', chunksize=100, index=False)
    print(f'Data has been successfully loaded into {table_name}')

In [36]:
export_table_to_db(aircraft_df, 'aircraft')

Loading data into aircraft
Data has been successfully loaded into aircraft

In [37]:
export_table_to_db(airport_weather_df, 'airport_weather')

Loading data into airport_weather
Data has been successfully loaded into airport_weather

In [39]:
export_table_to_db(flight_df, 'flight')

Loading data into flight
Data has been successfully loaded into flight

In [38]:
export_table_to_db(airport_list_df, 'airport_list')

Loading data into airport_list
Data has been successfully loaded into airport_list

In [21]:
def test_data_export(table_name, expected_count, expected_schema):
    real_count = pd.read_sql(f"SELECT COUNT(*) as cnt FROM {table_name}", engine).iloc[0][0]
    
    real_schema = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 0", engine)
    real_schema = set(real_schema.columns)

    expected_schema = set(expected_schema)

    diff = real_schema.symmetric_difference(expected_schema)

    assert len(diff) == 0, ('Nie zgadzają się kolumny tabel....'
    f'\tOczekiwano: {expected_schema}'
    f'\tOtrzymano: {real_schema}'
    f'\tRóżnica: {diff}')

    assert expected_count == real_count, f'Nie zgadza się liczba wierszy, oczekiwano {expected_count}, otrzymano {real_count}'

In [22]:
aircraft_expected_count = 7383
aircraft_expected_schema = ['id', 'manufacture_year', 'tail_num', 'number_of_seats']

test_data_export('aircraft', aircraft_expected_count, aircraft_expected_schema)

In [23]:
airport_weather_expected_count = 46226
airport_weather_expected_schema = ['id', 'station', 'name', 'date', 'awnd', 'prcp', 'snow', 'snwd', 'tavg', 'tmax', 'tmin', 'wdf2', 'wdf5', 'wsf2', 'wsf5', 'wt01', 'wt08', 'wt02',
       'wt03', 'wt04', 'wt09', 'wt06', 'wt05', 'pgtm', 'wt10', 'wesd', 'sn32',
       'sx32', 'psun', 'tsun', 'tobs', 'wt07', 'wt11', 'wt18']

test_data_export('airport_weather', airport_weather_expected_count, airport_weather_expected_schema)

In [40]:
flight_expected_count = 9251880
flight_expected_schema = ['id', 'month', 'day_of_month', 'day_of_week', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'dest_airport_id',
       'crs_dep_time', 'dep_time', 'dep_delay_new', 'dep_time_blk',
       'crs_arr_time', 'arr_time', 'arr_delay_new', 'arr_time_blk',
       'cancelled', 'crs_elapsed_time', 'actual_elapsed_time', 'distance',
       'distance_group', 'year', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay']

test_data_export('flight', flight_expected_count, flight_expected_schema)

In [41]:
aircraft_list_expected_count = 97
aircraft_list_expected_schema = ['id', 'origin_airport_id', 'display_airport_name', 'origin_city_name', 'name']

test_data_export('airport_list', aircraft_list_expected_count, aircraft_list_expected_schema)

In [42]:
msg = "Wszystko wygląda OK :)"
print(msg)

Wszystko wygląda OK :) Możesz przejść do kolejnego kroku.