 # Opis notatnika
 Zmierzamy do końca analizy danych, które zostały nam udostępnione. Ten krok dodaje jeszcze więcej informacji do naszego wyjściowego zbioru. Tym razem sprawdzimy między innymi to, czy opóźnienia lotów zależne są od trasy czy warunków pogodowych.

 Zanim jednak do tego przejdziemy, należy, podobnie jak w poprzednich krokach, skonfigurować odpowiednio notatnik.

 Tutaj zaimportuj wymagane biblioteki

In [1]:
import psycopg2
from psycopg2 import connect
from sqlalchemy import create_engine
import pandas as pd
#!pip install jupyter-dash
#!pip install matplotlib
import numpy as np
import matplotlib.pyplot as plt

 ## Połączenie z bazą danych
 Tutaj uzupełnij konfigurację połączenia

In [2]:
conn = connect(
    host ='localhost',
    user ='postgres',
    port = 5432,
    database = 'Airlines2',
    password ='1234')
print('Połączenie udane')
#conn.close()
cursor = conn.cursor()

Połączenie udane

 Tutaj stwórz zmienną engine, która zostanie użyta do połączenia z bazą danych

In [3]:
url = "postgresql://postgres:1234@localhost:5432/Airlines2"
engine = create_engine(url, echo=False)
engine

Engine(postgresql://postgres:***@localhost:5432/Airlines2)

 Tutaj uzupełnij implementację metody `read_sql_table`

In [4]:
def read_sql_table(table_name):
    ramka = pd.read_sql_table(table_name, engine)
    return ramka

 Tutaj zaczytaj zapisaną wcześniej ramkę danych `flight_df` do zmniennej o takiej samej nazwie

In [5]:
flight_df = pd.read_csv('/Users/Ola/Desktop/Projekt koncowy DUZY PLIK/data/raw/flight_df_02.csv')
flight_df

,Unnamed: 0.2,index,manufacture_year,tail_num,id,Unnamed: 0.1,level_0,Unnamed: 0,MONTH,DAY_OF_MONTH,...,DISTANCE_GROUP,YEAR,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,is_delayed,is_weekend,manufacture_year_agg
0,0,6224,2016,N260AK,6224,6058,6058,6224,12,26,...,4,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
1,1,6217,2016,N995AN,6217,6051,6051,6217,12,26,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
2,2,6219,2016,N996AN,6219,6053,6053,6219,12,26,...,3,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
3,3,6218,2016,N995NN,6218,6052,6052,6218,12,26,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
4,4,6223,2016,N253AK,6223,6057,6057,6223,12,26,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6125,6125,5,1953,N381FL,5,5,5,5,1,1,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
6126,6126,4,1953,N151FL,4,4,4,4,1,1,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
6127,6127,3,1953,N141FL,3,3,3,3,1,1,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
6128,6128,1,1945,N1651M,1,1,1,1,1,1,...,2,2019,NaN,NaN,NaN,NaN,NaN,True,weekday,NaN
6129,6129,0,1944,N54514,0,0,0,0,1,1,...,3,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN

In [6]:
flight_df.drop(['Unnamed: 0'], axis = 1)

,Unnamed: 0.2,index,manufacture_year,tail_num,id,Unnamed: 0.1,level_0,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,...,DISTANCE_GROUP,YEAR,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,is_delayed,is_weekend,manufacture_year_agg
0,0,6224,2016,N260AK,6224,6058,6058,12,26,4,...,4,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
1,1,6217,2016,N995AN,6217,6051,6051,12,26,4,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
2,2,6219,2016,N996AN,6219,6053,6053,12,26,4,...,3,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
3,3,6218,2016,N995NN,6218,6052,6052,12,26,4,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
4,4,6223,2016,N253AK,6223,6057,6057,12,26,4,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6125,6125,5,1953,N381FL,5,5,5,1,1,2,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
6126,6126,4,1953,N151FL,4,4,4,1,1,2,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
6127,6127,3,1953,N141FL,3,3,3,1,1,2,...,2,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN
6128,6128,1,1945,N1651M,1,1,1,1,1,2,...,2,2019,NaN,NaN,NaN,NaN,NaN,True,weekday,NaN
6129,6129,0,1944,N54514,0,0,0,1,1,2,...,3,2019,NaN,NaN,NaN,NaN,NaN,False,weekday,NaN

 # Wzbogacenie o `airport_list`
 Wczytaj do obszaru roboczego tabelę `airport_list` używając procedury `read_sql_table`. Wykonaj poniższe ćwiczenia:
 1. Sprawdź, czy klucz `origin_airport_id` jest unikalny, tj. nie ma dwóch takich samych wartości w kolumnie `origin_airport_id`,
 1. Jeżeli duplikaty występują, usuń je w najdogodniejszy dla Ciebie sposób.
 1. Jeśli duplikaty nie występują, złącz ramki `airport_list_df` wraz z aktualną `flight_df`, używając kolumny `origin_airport_id` oraz złączenia typu `LEFT JOIN`. Z ramki `airport_list_df` interesuje nas dodanie kolumny `origin_city_name`.
 1. Dodatkowo dokonaj jeszcze raz złączenia ramki `flight_df` z `airport_list_df`, tym razem jednak złącz kolumnę `destination_airport_id` wraz z `origin_airport_id`. Podobnie jak wcześniej, interesuje nas kolumna `origin_city_name`, jedank ona powinna zostać wyświetlona jako `destination_city_name`

 Tutaj wczytaj ramkę `airport_list_df`

In [7]:
airport_list_df = pd.DataFrame(read_sql_table('airport_list'))
airport_list_df

,origin_airport_id,display_airport_name,origin_city_name,name,id
0,11638,Fresno Air Terminal,"Fresno, CA","FRESNO YOSEMITE INTERNATIONAL, CA US",0
1,13342,General Mitchell Field,"Milwaukee, WI","MILWAUKEE MITCHELL AIRPORT, WI US",1
2,13244,Memphis International,"Memphis, TN","MEMPHIS INTERNATIONAL AIRPORT, TN US",2
3,15096,Syracuse Hancock International,"Syracuse, NY","SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US",3
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,4
...,...,...,...,...,...
92,13198,Kansas City International,"Kansas City, MO","KANSAS CITY INTERNATIONAL AIRPORT, MO US",92
93,10423,Austin - Bergstrom International,"Austin, TX","AUSTIN BERGSTROM INTERNATIONAL AIRPORT, TX US",93
94,15370,Tulsa International,"Tulsa, OK","OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US",94
95,13303,Miami International,"Miami, FL","MIAMI INTERNATIONAL AIRPORT, FL US",95
96,10693,Myrtle Beach International,"Myrtle Beach, SC","NORTH MYRTLE BEACH, SC US",96

In [8]:
airport_list_df['origin_airport_id'].unique().shape[0]==airport_list_df.shape[0]

True

 Tutaj sprawdż, czy występują duplikaty dla kolumny `origin_airport_id`

In [9]:
airport_list_df_duplicates=airport_list_df['origin_airport_id'].duplicated()
airport_list_df_duplicates.shape #nie ma duplikatow

(97,)

 Tutaj usuń duplikaty - jeśli występują

In [10]:
airport_list_df_duplicates=airport_list_df['origin_airport_id'].drop_duplicates()

In [ ]:
flight_airport_joined=pd.merge(flight_df, airport_list_df)

In [ ]:
flight_airport_joined.columns

 Tutaj dokonaj złączenia ramki `flight_df` oraz `airport_list_df` używając `origin_airport_id`

In [62]:
flight_airport_joined=pd.merge(
    left=flight_df,
    right=airport_list_df[['origin_city_name', 'origin_airport_id']],
    how='left', 
    left_on=['origin_airport_id'],
    right_on=['origin_airport_id'],   
)

KeyError: 'origin_airport_id'

 Tutaj dokonaj złączenia ramki `flight_df` oraz `airport_list_df` używając `destination_airport_id`

In [42]:
flight_airport_joined = flight_df.rename(columns = {'origin_city_name_y': 'destination_city_name', 'origin_city_name_x':'origin_city_name', 'origin_airport_id_x': 'origin_airport_id' })

In [43]:
flight_airport_joined= flight_df.drop(['origin_airport_id'], axis = 1)

In [44]:
flight_airport_joined = flight_df.rename(columns = {'origin_airport_id_x': 'origin_airport_id'})

In [63]:
flight_airport_joined.columns

Index(['Unnamed: 0.2', 'index', 'manufacture_year', 'tail_num', 'id',
       'Unnamed: 0.1', 'level_0', 'Unnamed: 0', 'MONTH', 'DAY_OF_MONTH',
       'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'CRS_DEP_TIME', 'DEP_TIME',
       'dep_delay', 'DEP_TIME_BLK', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY_NEW', 'ARR_TIME_BLK', 'CANCELLED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'DISTANCE', 'DISTANCE_GROUP', 'YEAR',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'is_delayed', 'is_weekend',
       'manufacture_year_agg', 'date', 'station', 'name', 'prcp', 'snow',
       'snwd', 'tmax', 'awnd', 'origin_airport_id'],
      dtype='object')

In [46]:
flight_df.columns

Index(['Unnamed: 0.2', 'index', 'manufacture_year', 'tail_num', 'id',
       'Unnamed: 0.1', 'level_0', 'Unnamed: 0', 'MONTH', 'DAY_OF_MONTH',
       'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'CRS_DEP_TIME', 'DEP_TIME',
       'dep_delay', 'DEP_TIME_BLK', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY_NEW', 'ARR_TIME_BLK', 'CANCELLED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'DISTANCE', 'DISTANCE_GROUP', 'YEAR',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'is_delayed', 'is_weekend',
       'manufacture_year_agg', 'date', 'station', 'name', 'prcp', 'snow',
       'snwd', 'tmax', 'awnd', 'origin_airport_id'],
      dtype='object')

### Sprawdzenie
Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [47]:
assert 'origin_city_name' in flight_df.columns, 'Brak kolumny `origin_city_name` w ramce flight_df'
assert 'destination_city_name' in flight_df.columns, 'Brak kolumny `destination_city_name` w ramce flight_df'

flight_df_expected_rows_amount = 6922924
assert flight_df.shape[0] == flight_df_expected_rows_amount, 'Ups, zwiększyła się liczba wierszy...'

AssertionError: Brak kolumny `origin_city_name` w ramce flight_df

 ## Analiza według lotnisk oraz tras
 Wykonaj poniższe polecenia:
 1. Wyznacz lotniska, z których **odlatywało** najwięcej samolotów. Wynik zapisz do ramki `top_airports_origin_df`.
 1. Wyznacz lotnika, na których najwięcej lotów **się kończyło**. Wynik zapisz do ramki `top_airports_destination_df`.
 1. Wyznacz najczęściej uczęszczaną trasę, wynik zapisz do ramki `top_route_df`.
 1. Przy założeniu, że reprezentatywna liczba lotów na trasie wynosi ponad 500, wyznacz dodatkowo top 10:
     - tras z **najmniejszym odsetkiem opóźnień**, wynik zapisz do ramki `least_route_delays_df`.
     - tras z **największym odsetkiem opóźnień**, wynik zapisz do ramki `top_route_delays_df`.

 Tutaj wyznacz ramkę `top_airports_origin_df`

In [48]:
top_airports_origin_df = flight_airport_joined[['origin_airport_id', 'id']].groupby('origin_airport_id').count()
top_airports_origin_df = top_airports_origin_df.sort_values('id', ascending = False)[:5]
top_airports_origin_df = top_airports_origin_df['id']

 Tutaj wyznacz ramkę `top_airports_destination_df`

In [51]:
top_airports_destination_df  = flight_airport_joined[['DEST_AIRPORT_ID', 'id']].groupby('DEST_AIRPORT_ID').count()
top_airports_destination_df = top_airports_destination_df.sort_values('id', ascending = False)[:5]
top_airports_destination_df = top_airports_destination_df['id']

 ### Sprawdzenie dla `top_airport_origin`

In [52]:
top_airports_origin_head = (top_airports_origin_df
                            .sort_values(ascending=False)
                            .head()
                            .to_list()
                            )
top_airports_origin_head = tuple(top_airports_origin_head)
top_airports_origin_head_expected = (387620, 327647, 294944, 245160, 228415)

assert top_airports_origin_head == top_airports_origin_head_expected, f"Nie zgadza się top 5 wierszy, oczekiwano wyników: {top_airports_origin_head_expected} otrzymano: {top_airports_origin_head}"

AssertionError: Nie zgadza się top 5 wierszy, oczekiwano wyników: (387620, 327647, 294944, 245160, 228415) otrzymano: (6130, 6130, 6130, 6130, 6130)

### Sprawdzenie dla `top_airport_destination`

In [53]:
top_airports_destination_head = (top_airports_destination_df
                                 .sort_values(ascending=False)
                                 .head()
                                 .to_list()
                                 )
top_airports_destination_head = tuple(top_airports_destination_head)
top_airports_destination_head_expected = (387542, 327169, 294568, 244898, 227917)

assert top_airports_destination_head == top_airports_destination_head_expected, f"Nie zgadza się top 5 wierszy, oczekiwano wyników: {top_airports_destination_head_expected} otrzymano: {top_airports_destination_head}"

AssertionError: Nie zgadza się top 5 wierszy, oczekiwano wyników: (387542, 327169, 294568, 244898, 227917) otrzymano: (153340, 98452, 92790, 67457, 34642)

 # Wzbogacenie o dane pogodowe
 Używając procedury `read_sql_table`, wczytaj tabelę `airport_weather` do ramki `airport_weather_df`. Następnie wykonaj następujące polecenia:
 1. Pozostaw w ramce tylko następujące kolumny: `['station', 'name', 'date', 'prcp', 'snow', 'snwd', 'tmax', 'awnd']`.
 1. Połącz ramki `airport_list_df` wraz z `airport_weather_df` po odpowiedniej kolumnie używając takiego złączenia, aby w wyniku usunąć te wiersze (lotniska), które nie posiadają danych pogodowych. Dodatkowo, upewnij się, że zostanie tylko dodana kolumna `origin_airport_id`.

 Tutaj wczytaj ramkę `airport_weather`

In [54]:
airport_weather = read_sql_table('airport_weather')

 Tutaj oczyść ramkę `airport_weather_df` z nadmiarowych kolumn

In [55]:
airport_weather = airport_weather[['station', 'name', 'date', 'prcp', 'snow', 'snwd', 'tmax', 'awnd']]

 Tutaj połącz ramki `airport_list_df` oraz `airport_weather_df` aktualizując `airport_weather_df`

In [56]:
airport_weather_df = pd.merge(
    left =airport_weather,
    right=airport_list_df[['name', 'origin_airport_id']],
    how='inner',
    left_on=['name'],
    right_on=['name']
)
airport_weather_df.shape

(43394, 9)

 ### Sprawdzenie
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [57]:
airport_weather_df_expected_shape = (43394, 9)
airport_weather_df_shape = airport_weather_df.shape

assert airport_weather_df_expected_shape == airport_weather_df_shape, f'Nieodpowiedni wymiar ramki airport_weather_df, oczekiwano (wierszy, kolumn): {airport_weather_df_expected_shape}'

 ## Połączenie `airport_weather_df` oraz `flight_df`
 W celu złączenia ramek `airport_weather_df` oraz `flight_df` wykonaj następujące kroki:
 1. w ramce `aiport_weather_df` występuje kolumna `date`, zrzutuj ją na typ `DATETIME`.
 1. w ramce `flight_df` należy stworzyć nową kolumnę o nazwie `date`. W tym celu:
 	- złącz kolumny `month`, `day_of_month` oraz `year` razem, użyj następującego formatu daty: `YYYY-MM-DD`.
 	- zrzutuj kolumnę `date` na typ `DATETIME`.
 1. złącz ramki używając odpowiedniego klucza, wynik złączenia zapisz do ramki `flight_df`. Uzyj złącznia typu `LEFT JOIN`.

 > Dlaczego istotne jest zachowanie typów przy złączeniu?

W trakcie pracy możesz posłużyć się następującymi artykułami z `LMS`:
 - `Python - analiza danych > Dzień 6 - Pandas > Merge`
 - `Python - analiza danych > Dzień 6 - Pandas > Praca z datetime`
 - Dokumentacje metody `to_datetime`: [klik](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)
 - Dostępne formaty dat: [klik](https://www.programiz.com/python-programming/datetime/strftime) - sekcja `Format Code List`

 Tutaj zrzutuj kolumnę `date` na `DATETIME` w ramce `airport_weather_df`

In [58]:
airport_weather_df['date'] = pd.to_datetime(airport_weather_df['date'], format ='%Y-%m-%d')

 Tutaj stwórz kolumnę `date` w ramce `flight_df`. Pamiętaj, aby była ona również typu `DATETIME`

In [59]:
flight_df["date"] = flight_df["YEAR"].astype(str) + '-' +flight_df['MONTH'].astype(str) + '-' +flight_df['DAY_OF_MONTH'].astype(str)
flight_df["date"]  = pd.to_datetime(flight_df["date"], format ='%Y-%m-%d')

 Tutaj złącz tabele `airport_weather_df` oraz `flight_df`

In [60]:
flight_df = flight_df.merge(airport_weather_df, on='date', how='left')

 ### Sprawdzenie
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [61]:
flight_df_expected_rows_amount = 6922924
assert flight_df.shape[0] == flight_df_expected_rows_amount, 'Ups, zmieniła się liczba wierszy...'

AssertionError: Ups, zmieniła się liczba wierszy...

 # Praca samodzielna
 Używając `flight_df` zbadaj następujące hipotezy:
 1. Opady śniegu w lotnisku wylotowym wpływają na **wielkość** opóźnienia lotów (kolumna `snow`).
 1. Wielkość pokrywy śnieżnej wpływa na **wielkość** opóźnienia lotów (kolumna `snwd`).
 1. Temperatura maksymalna wpływa na **wielkość** opóźnienia lotów (kolumna `tmax`).
 W każdym ćwiczeniu pamiętaj o uwzględnieniu tylko tych zjawisk atmosferycznych, które były zaobserwowane (`>`). Przy wykonywaniu tego zadania masz pełną dowolność.

> **Wskazówka:**  
> Pamiętaj o tym, aby każda analiza była porównywalna, tj. dokonana przy podobnych założeniach.

 ## Analiza dla kolumny `snow`

 ### Określenie statystyk opisowych dla kolumny `snow`

In [ ]:
flight_df['snow'].describe()

 ## Analiza dla kolumny `snwd`

 ### Określenie statystyk opisowych dla kolumny `snwd`

In [ ]:
flight_df['snwd'].describe()

 ## Analiza dla kolumny `tmax`

 ### Określenie statystyk opisowych dla kolumny `tmax`

In [ ]:
flight_df['tmax'].describe()

# Podsumowanie
W tej części warsztatu dokonaliśmy kompleksowej analizy posiadanego zbioru danych. Eksploracja
pozwoliła nam na zapoznanie się z cechami charakterystycznymi lotów - wiemy już, które 
zmienne mogą mieć wpływ na opóźnienia lotów, a które nie. Co warto podkreślić, skupiliśmy się na wielu
aspektach tej analizy, co otwiera potencjalnie również inne możliwości dalszej pracy nad tą bazą.

W tym momencie przejdziemy do kolejnego kroku, w którym, na podstawie tej analizy, przygotujemy 
system raportowy. Zanim jednak stworzymy dashboard, potrzebujemy zaktualizować naszą bazę danych.